<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
  
  </head>
  <body>
    <header>
      <h1>
        File Metadata Microservice
      </h1>
      
    </header>
      <p class="bold">Oh hi,</p>
      <p>Upload your file here:</p>
    
      <form action="/upload" method="post" enctype="multipart/form-data">
        <lable for="file">Please select a file</lable>
        <input type="file" id = "file" name = "file">
        <button type="submit">Submit</button>
        
      </form>
      
 </body>
</html>
